* {
  -webkit-font-smoothing:antialiased;
  word-wrap: break-word;
}

.detail {
  font-style: italic;
  font-size: .8em;
}

.primary {
  color: #FF5353;
  font-weight: 600;
}

.secondary {
  color: #CC82FF;
  font-weight: 600;
}

/* Default to centered text*/
.section {
  text-align:center;
}

/* Tiny icons */
.icon {
  height:2em;
  width: auto;
}

/* *** */
/* BOXES CSS */
/* *** */

.box-trigger {
  background-color: rgba(.2,.2,.2,.4);
  margin: 1px;
  padding-top: .5em;
  padding-bottom: .1em;
  padding-left: 1em;
  padding-right: 1em;
}

.box-trigger:hover {
  background-color: rgba(.9,.9,.9,.6);
  height: auto;
}

.box-trigger:hover .icon {
  height: 4em;
}

.box {
  color: white;
  font-weight: 100;
}

.box a {
  text-decoration: none;
}

/* *** */
/* SECTION STYLES */
/* *** */

/* ABOVE-THE-FOLD */

#justus .tableCell {
  display: block;
}

.title-box {
  text-align: left;
  margin-left: 2em;
  position: fixed;
  bottom: 0;
  line-height: 0.3;
}

.title-box .primary, .title-box .secondary {
  background-color: white;
  padding-left: 0.1em;
  padding-right: 0.1em;
  padding-bottom: 0.1em;
  padding-top: 0.1em;
}

/* ACCOMPLISHMENTS + EXPERIENCE */

#accomplishments h2 {
  background-color: white;
  color: black;
  font-weight: 100;
}

.startUps h3 {
  font-size: 1.5em;
  font-weight: 100;
}

#resilient {
  font-weight: 100
}

#tugg {
  text-decoration: underline;
  font-weight: 600;
}

/* OTHER PROJECTS */

#wips #section-title{
  background-color:#7D8388;
  margin-bottom: 5em;
}

#wips h2 {
  font-weight: 100;
}

.grid figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  width: 48%;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* THE CREED */

#love_rails .creed {
  height: 100%;
  background-color: #996B6B;
  text-align: left;
  display: table;
  line-height: 1.77;
  p {
    color: black;
    font-size: 1em;
    font-weight: 200;
  }
}

.creed .primary {
  color: white;
}

.creed-content {
  display: table-cell;
  vertical-align: middle;
  text-overflow: scroll;
}

.creed h3 {
  font-size: 3em;
}

/* TESTIMONIALS */

.testimonials h2 {
  font-weight: 100;
  background-color: white;
  color: black;
}

.testifier h3 {
  color: black;
  background-color: rgba(255,255,255,1);
  font-weight: 100;
}

.reveal-modal h2 {
  color: black;
  font-weight: 100;
}

.quote {
  font-weight: 100;
  font-style: italic;
  color:black;
}

.portrait {
  max-height: 130px;
}


/* HIRE ME */
#hire {
  color:#FFBE4D;
}